<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"  
    default-autowire="byName" default-lazy-init="false">  
    <!-- default-autowire="byName" default-lazy-init="false"此两个值可以不配置 -->  
    <description>Quartz Job Setting</description>  
  <!-- A.配置调度的任务对应bean的id和自定义class   service由注解自动生成
  <bean id="quartzService" class="benguo.tyfo.order.service.quartz.QuartzService" />  -->
  <!-- B.配置调度任务对应的bean的id和执行的方法,作业不并发调度-->  
  <bean id="testDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
    <property name="targetObject" ref="quartzService" />  
    <property name="targetMethod" value="sysq" />  
    <property name="concurrent" value="false" />  
  </bean>  
  <!-- C.配置调度任务执行的触发的时间-->  
  <bean id="testTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
  <property name="jobDetail" ref="testDetail" />  
     <property name="cronExpression">  
     <!-- 每分钟的第3秒执行任务调度  
      <value>0 0 16 * * ?</value>   --> 
      <value>1 * * * * ?</value>  
     
    </property>  
  </bean>  
  <!-- D.Quartz的调度工厂，调度工厂只能有一个，多个调度任务在list中添加 -->  
  <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
    <property name="triggers">  
      <list>  
         <!-- 所有的调度列表-->  
        <ref bean="testTrigger" />  
<!-- <ref bean="testTrigger" />  
        <ref bean="testTrigger2" />  
        对应的bean配置：id="testTrigger" 和 id="testTrigger2" 可以对应的并行多配置-对应执行JavaBean和执行时间(各自触发time)  
  -->  
      </list>  
    </property>  
  </bean>  
</beans>